<%= form_for([@post, @post.comments.build]) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :Kommentoija %><br />
    <%= f.text_field :commenter, :size => 50 %>
  </p>
  <p>
    <%= f.label :Kommentti %><br />
    <%= f.text_area :body, :cols => 93 %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %> 
