<%= form_for([@post, @post.comments.build]) do |f| %>
  <%= error_messages_for :comment %>
  <p>
    <%= f.label :Kommentoija %><br />
    <%= f.text_field :commenter, :size => 50 %>
  </p>
  <p>
    <%= f.label :Kommentti %><br />
    <%= f.text_area :body, :cols => 93 %>
  </p>
  <p>
    <%= f.submit t('add_comment') %> <%= or_cancel %>
  </p>
<% end %> 
