<%= render_content_nav %>

<div class="article_content">
  <%= title 'Muokkaa artikkelia' %>
  
  <%= form_for [:admin, @post] do |f| %>
    <%= error_messages_for :post %>
    <%= render :partial => 'posts/form', :object => f %>
    <p>
      <%= f.submit 'Päivitä' %>
    </p>
  <% end -%>
</div>