<%= title 'Uusi artikkeli' %>

<div class="article_content">
  <%= form_for [:admin, @blog, @post] do |f| %>
    <%= error_messages_for :post %>
    <%= render :partial => 'posts/form', :object => f %>
    <p>
      <%= f.submit 'Tallenna' %>
     </p>
    <% end -%>
</div>