<p>
  <%= form.label :title %><br />
  <%= form.text_field :title, :size => 50 %>
</p>
<p>
  <%= form.label :markup %><br />
  <%= form.select :markup, Post::MARKUP_LANGUAGES.map { |m| [m, m.downcase] } %>
</p>
<p>
  <%= form.label :body %><br />
  <%= form.text_area :body, :cols => 93 %>
</p>
