<article>
  <header>
    <h1>Muokkaa artikkelia</h1>
  </header>
  <div class="article_content">
    <%= form_for @post do |f| %>
      <%= error_messages_for :post %>
      <%= render f %>
      <p>
        <%= f.submit t('update') %> <%= or_cancel %>
      </p>
    <% end -%>
  </div>
</article>
