<article>
  <header>
    <%= image_tag @post.user.gravatar_url(:size => 50), :class => 'right' %>
    <h1><%= @post.title %></h1>
    <p>
      <span class="icon icon_clock"><%= l @post.created_at, :format => :long %></span>
    </p>
  </header>
  <div class="article_content">
    <%= markup @post.body, @post.markup %>
  </div>

  <div class="article_controls">
    <%= link_to 'Kommentoi', post_path(@post, :anchor => 'add_comment'), :class => 'icon icon_add_comment' %> |
    <%= link_to 'Muokkaa', edit_post_path(@post), :class => 'icon icon_edit_article' %> | 
    <%= link_to 'Takaisin', root_path %>
  </div>
</article>

<article>
  <header>
    <h1 id="comments">Kommentit</h1>
  </header>
  <div class="article_content">
    <p>    
      <%= render @post.comments %>       
    </p>
  </div>
</article>

<article>
  <header>
    <h1 id="add_comment">Lis채채 kommentti</h1>
  </header>
  <div class="article_content">
    <p>    
      <%= render "comments/form" %> 
    </p>
  </div>
</article>

<article>
  <header>
    <h1 id="comments">Lis채채 kommentti</h1>
  </header>
  <div class="article_content">
    <p>    
      <%= render "comments/form" %> 
    </p>
  </div>
</article>
