<%= form_for @user, :url => admin_user_path(@user), :html => { :method => :put } do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :nick %><br />
    <%= f.text_field :nick %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.submit 'Päivitä' %>
  </p>
<% end -%>