<%= render_content_nav %>

<div class="article_content">
  <%= title 'Uusi blogi' %>
  
  <%= form_for [:admin, @blog] do |f| %>
  <%= error_messages_for :blog %>
  <%= render :partial => 'admin/blogs/form', :object => f %>
  <p>
    <%= f.submit 'Tallenna' %>
  </p>
  <% end -%>
</div>