<%= title 'Uusi blogi' %>

<div class="article_content">
  <%= form_for [:admin, @blog] do |f| %>
  <%= error_messages_for :blog %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :alias %><br />
    <%= f.text_field :alias %>
  </p>
  <p>
    <%= f.submit 'Tallenna' %>
  </p>
  <% end -%>
</div>