<!DOCTYPE html>
<html lang="fi">
<head>
  <meta charset="utf-8" />
  <title>Codester Blog - Admin</title>

  <%= stylesheet_link_tag 'codester', 'codester_admin' %>

  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>
  <header>
    <div class="container">
      <h1>Codester Blog</h1>
      <h2>Administration</h2>
      <nav>
        <ul class="personal_nav">
          <li><%= link_to 'Profiili', admin_user_path(current_user), :class => current_class_if('admin/users#show', :id => current_user.id) %></li>
          <li><%= link_to 'Kirjaudu ulos', destroy_user_session_path %></li>
        </ul>
      </nav>

      <nav>
        <ul>
          <li><%= link_to "Käyttäjät", admin_users_path, :class => current_class_if('admin/users#index') %></li>
        </ul>
      </nav>
    </div>
  </header>

  <section class="container">
    <%= yield %>
  </section>
  
  <footer class="container">
    <p>Copyright &copy; 2010 Codester Guys</p>
  </footer>
</body>
</html>
