<!DOCTYPE html>
<html lang="fi">
<head>
  <meta charset="utf-8" />
  <title>Codester Blog Admin - <%= yield(:title) %></title>
  <%= csrf_meta_tag %>

  <%= stylesheet_link_tag 'codester_admin' %>
  <%= javascript_include_tag 'jquery-1.4.2.min', 'rails', 'application' %>

  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  
  <%= yield(:head) %>
</head>

<body>
  <header>
    <div class="container">
      <%= link_to "Etusivulle", root_path, :class => "right link_to_frontpage" %>
      <h1>Codester Blog</h1>

      <div class="container top_nav_container">
        <nav class="personal_nav">
          <ul>
            <li><%= link_to 'Profiili', admin_user_path(current_user), :class => current_class_if('admin/users#show', :id => current_user.id) %></li>
            <li><%= link_to 'Kirjaudu ulos', destroy_user_session_path %></li>
          </ul>
        </nav>

        <nav class="admin_nav">
          <ul>
            <li><%= link_to "Blogit", admin_blogs_path, :class => current_class_if('admin/blogs#') %></li>
            <li><%= link_to "Artikkelit", admin_posts_path, :class => current_class_if('admin/posts#') %></li>
            <li><%= link_to "Käyttäjät", admin_users_path, :class => current_class_if('admin/users#') %></li>
          </ul>
        </nav>
        <div class="clear"></div>
      </div>
    </div>
  </header>

  <section class="container">
    <%- flash.each do |flash, msg| -%>
      <p class="flash <%= flash.to_s %>"><%= msg %></p>
    <%- end -%>

    <%- if yield(:aside) -%>
      <% content_for(:head) { stylesheet_link_tag 'codester_admin_wide' } %>
      <%= yield(:aside) %>
    <% end -%>

    <div class="content">
      <%- if yield(:content_nav) -%>
      <ul class="content_nav clearfix">
        <%= yield(:content_nav) %>
      </ul>
      <% end -%>

      <article>
        <%= yield %>
      </article>
    </div>
  </section>
  
  <footer class="container">
    <p>Copyright &copy; 2010 Codester Guys</p>
  </footer>
</body>
</html>
