<!DOCTYPE html>
<html lang="fi">
<head>
  <meta charset="utf-8" />
  <title>Codester Blog</title>

  <%= stylesheet_link_tag 'codester' %>

  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>
  <header>
    <div class="container">
      <h1>Codester Blog</h1>

      <nav>
        <ul>
          <li><%= link_to 'Etusivu', root_path, :class => 'current' %></li>
          <li><%= link_to 'Pelit', '#' %></li>
          <li><%= link_to 'Ohjelmointi', '#' %></li>
          <li><%= link_to 'Meistä', about_us_path %></li>
        </ul>
      </nav>
    </div>
  </header>

  <section class="container">
    <%= yield %>
  </section>
  
  <footer class="container">
    <p>Copyright &copy; 2010 Codester Guys</p>
  </footer>
</body>
</html>
