<!DOCTYPE html>
<html lang="fi">
<head>
  <meta charset="utf-8" />
  <title>Codester Blog</title>

  <%= stylesheet_link_tag 'codester' %>

  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>
  <header>
    <div class="container">
      <h1>Codester Blog</h1>

      <nav>
        <ul>
          <li><%= link_to 'Etusivu', root_path, :class => current_class_if('posts#index') %></li>
          
          <%- for blog in Blog.select("id, name") -%>
          <li><%= link_to blog.name, blog_path(blog), :class => current_class_if('blogs#show', :id => blog.id) %></li>
          <% end -%>
          
          <li><%= link_to 'Meistä', about_us_path, :class => current_class_if('home#about') %></li>

          <% if user_signed_in? %>
            <li><%= link_to 'Kirjaudu ulos', destroy_user_session_path %></li>
          <% else %>
            <li><%= link_to 'Kirjaudu sisään', new_user_session_path %></li>
          <% end -%>
        </ul>
      </nav>
    </div>
  </header>

  <section class="container">
    <%- flash.each do |key, msg| -%>
      <p class="flash <%= key.to_s %>"><%= msg %></p>
    <% end -%>

    <%= yield %>
  </section>
  
  <footer class="container">
    <p>Copyright &copy; 2010 Codester Guys</p>
  </footer>
</body>
</html>
